/*
Red Lantern redesign
HFWD Chapter 1
*/

/*
The font size here is set to 62.5% so that
1em = 10px. This makes adjusting our typography
a little easier
*/
body {
	margin: 0 auto;
	width: auto ;
	padding: 0;
	background: #ffffff;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #3a2e2e;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

a:link {
	color: #fffdfd;
	background: #ffffff;
}
a:visited {
	color: #ff0000;
	background: #eee;
}

/* This rule adds a nice style to our ampersands */
span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
}
#wrap {
	clear: both;
	margin: 0 auto;
	padding: 10px;
	width: 780px;
	background: #fff;
	border: 10px solid #5c0505;
}


#header {
	background-color: #777 ;
}

#logo h1 {
	font-size: 3em;
	margin: 10px 0 0 0;
	padding: 10px;
	text-align: left;
	
}
#logo h2 {
	font-size: 1.5em;
	margin: 10px 0 0 0;
	padding: 10px;
	text-align: left;
}
#black{
	color:#000;
}


#menu {
	background: #251e1e;
	float: center;
	margin: 50px 10px 0 0;
	font-size: 1.4em;
	text-align: center;
}

 
#menu li {
	display: inline;
	margin: 0 0 0 20px;
}

#menu li a {
	color: #fff;
	text-decoration: none;
}

#content, #sidebar {
	width: 360px;
	margin: 20px 0 20px 0;
	padding: 10px;
}

#content {
	float: right;
}

#content h2 {
	font-size: 2.4em;
	margin: 0 0 10px 0;
}

#content p {
	margin: 0 0 10px 0;
}

#link-list {
	margin: 20px 0 0 0;
	font-size: 1.4em;
}

#link-list li {
	margin: 0 0 10px 0;
}


#footer {
	clear: both;
	background: #eee;
	padding: 10px;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #777;
}
